*  {
    box-sizing: border-box;

}

 body  {
      background-color: gray;
      font-family: 'roboto,'sans-serif;
      
 }
 
  header {
        width: 850px;
        margin: 0px auto;
        border: solid black 1px;
        
  }

main      {
        width: 850px;
        margin: 10px auto;
        border: solid black 1px;





}

  .blue {background-color: blue;
         height: 200px;
         width: 100%;
         



  }
    .image {
        border: 1px solid black;
        width: 150px;
        height: 150px;
        background-color: black;
        position: relative;
        top: 90px;
        left: 45px;


    }

    h1  {
        position: relative;
        left: 200px;
        top: -50px;
        color: white;


    
    }        

    .timeline {
            position: relative;
            left: 300px;
            top: -5px; 
            color: white;
        
        }

    h2
            {
        position: relative;
        left: 365px;
        top: -75px;
        color: black; 
        

    }

    h3
            {
        position: relative;
        left: 510px;
        top: -115px;
        
    }

    h4      {
        position: relative;
        left: 665px;
        top: -155px;
    }

    
    h5
            {    
        position: relative;
        left: 780px;
        top: -195px;

            }

    .border {
            
        position: relative;
        background-color: white;
        height: 50px;
        width: 100%;
       
            
            }

    .column {
        position: relative;
        background-color: white;
        height: 300px;
        width: 328px;
        top: 0px;
        float: left;
    
            }        
            
    .right  {
        position: relative;
        background-color: white;
        height: 512px;
        width: 512px;
        top: 0px;
        left: 0px;
        float: right;

            }

    li  {
        list-style: none;
        float: left;
        padding: 10px;


    }

    ul  {
        margin: 0px;
        position: relative;
        left: 150px;
        word-spacing: 30px;
        float: left;
    }